<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQQDedwoA8ZtB_ofELdtxIKqPOBaqHv84</string>
	<key>GCM_SENDER_ID</key>
	<string>177022499640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptoguys.cryptoCoinsList</string>
	<key>PROJECT_ID</key>
	<string>crypto-list-app-78c53</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-list-app-78c53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177022499640:ios:e3d010272a97564f735fcd</string>
</dict>
</plist>